<section id="cta">
  <h2>Ready to start?</h2>
  <form>
    <label>Enter email address</label>
    <input type="email"/>

    <button type="submit">Schedule a demo</button>
  </form>    
</section>    