---
title: 'About'
description: 'About Page'
preloadImg: ''
permalink: 'about/'
eleventyNavigation:
   key: About 
   order: 300
layout: layouts/base.njk
stylesheet: ../../assets/styles/about.css
script: '' 
---

<h1>About Page</h1>