---
import Layout from '../layouts/Layout.astro';
import '../styles/pricing.css'
---

<Layout>

<section id="hero">
  <h1>Pricing</h1>
</section>    


<section id="pricing-plans">
  <div class="cards-wrapper">
   
    <div class="pricing-card">
      <div class="text">
        <h3>Free Plan</h3>
        <p>Build and test using our core set of products with up to 100 API requests</p>
        <span class="price">$0.00</span>
      </div>
    
    <div class="list-wrapper">
      <ul>
        <li>
          <svg width="14" height="11" xmlns="http://www.w3.org/2000/svg"><path d="M1 5.718L4.893 9.56l8.107-8" stroke="#BA4270" stroke-width="2" fill="none" fill-rule="evenodd"/></svg>
          <span>Transactions</span>
        </li>
        <li>
          <svg width="14" height="11" xmlns="http://www.w3.org/2000/svg"><path d="M1 5.718L4.893 9.56l8.107-8" stroke="#BA4270" stroke-width="2" fill="none" fill-rule="evenodd"/></svg>
          <span>Auth</span>
        </li>
        <li>
          <svg width="14" height="11" xmlns="http://www.w3.org/2000/svg"><path d="M1 5.718L4.893 9.56l8.107-8" stroke="#BA4270" stroke-width="2" fill="none" fill-rule="evenodd"/></svg>
          <span>Identity</span>
        </li>
        <li class="disabled">
          <span></span>
          <span>Investments</span>
        </li>
        <li class="disabled">
          <span></span>
          <span>Assets</span>
          </li>
        <li class="disabled">
          <span></span>
          <span>Liabilities</span>
        </li>  
        <li class="disabled">
          <span></span>
          <span>Income</span>
        </li>  
      </ul>
     </div>   

      <button class="button-secondary-dark">Request access</button>    
    </div>
    
   
    <div class="pricing-card">
      <div class="text">
        <h3>Basic Plan</h3>
        <p>Launch your project with unlimited requests and no contractual minimums</p>
        <span class="price">$249.00</span>
      </div>
      
      <div class="list-wrapper">
        <ul>
          <li>
            <svg width="14" height="11" xmlns="http://www.w3.org/2000/svg"><path d="M1 5.718L4.893 9.56l8.107-8" stroke="#BA4270" stroke-width="2" fill="none" fill-rule="evenodd"/></svg>
            <span>Transactions</span>
          </li>
          <li>
            <svg width="14" height="11" xmlns="http://www.w3.org/2000/svg"><path d="M1 5.718L4.893 9.56l8.107-8" stroke="#BA4270" stroke-width="2" fill="none" fill-rule="evenodd"/></svg>
            <span>Auth</span>
          </li>
          <li>
            <svg width="14" height="11" xmlns="http://www.w3.org/2000/svg"><path d="M1 5.718L4.893 9.56l8.107-8" stroke="#BA4270" stroke-width="2" fill="none" fill-rule="evenodd"/></svg>
            <span>Identity</span>
          </li>
          <li>
            <svg width="14" height="11" xmlns="http://www.w3.org/2000/svg"><path d="M1 5.718L4.893 9.56l8.107-8" stroke="#BA4270" stroke-width="2" fill="none" fill-rule="evenodd"/></svg> 
            <span>Investments</span>
          </li>
          <li>
            <svg width="14" height="11" xmlns="http://www.w3.org/2000/svg"><path d="M1 5.718L4.893 9.56l8.107-8" stroke="#BA4270" stroke-width="2" fill="none" fill-rule="evenodd"/></svg>
            <span>Assets</span>
          </li>
          <li class="disabled">
            <span></span>
            <span>Liabilities</span>
          </li>  
          <li class="disabled">
            <span></span>
            <span>Income</span>
          </li>  
        </ul>  
       </div>
      <button class="button-secondary-dark">Request access</button>    
    </div>
    
   
    <div class="pricing-card">
      <div class="text">
        <h3>Premium Plan</h3>
        <p>Get tailored solutions, volume pricing, and dedicated support for your team</p>
        <span class="price">$499.00</span>
      </div>
    
    <div class="list-wrapper">
      <ul>
        <li>
          <svg width="14" height="11" xmlns="http://www.w3.org/2000/svg"><path d="M1 5.718L4.893 9.56l8.107-8" stroke="#BA4270" stroke-width="2" fill="none" fill-rule="evenodd"/></svg>
          <span>Transactions</span>
        </li>
        <li>
          <svg width="14" height="11" xmlns="http://www.w3.org/2000/svg"><path d="M1 5.718L4.893 9.56l8.107-8" stroke="#BA4270" stroke-width="2" fill="none" fill-rule="evenodd"/></svg>
          <span>Auth</span>
        </li>
        <li>
          <svg width="14" height="11" xmlns="http://www.w3.org/2000/svg"><path d="M1 5.718L4.893 9.56l8.107-8" stroke="#BA4270" stroke-width="2" fill="none" fill-rule="evenodd"/></svg>
          <span>Identity</span>
        </li>
        <li>
          <svg width="14" height="11" xmlns="http://www.w3.org/2000/svg"><path d="M1 5.718L4.893 9.56l8.107-8" stroke="#BA4270" stroke-width="2" fill="none" fill-rule="evenodd"/></svg>
          <span>Investments</span>
        </li>
        <li>
          <svg width="14" height="11" xmlns="http://www.w3.org/2000/svg"><path d="M1 5.718L4.893 9.56l8.107-8" stroke="#BA4270" stroke-width="2" fill="none" fill-rule="evenodd"/></svg>
          <span>Assets</span>
        </li>
        <li>
          <svg width="14" height="11" xmlns="http://www.w3.org/2000/svg"><path d="M1 5.718L4.893 9.56l8.107-8" stroke="#BA4270" stroke-width="2" fill="none" fill-rule="evenodd"/></svg>
          <span>Liabilities</span>
        </li>  
        <li>
          <svg width="14" height="11" xmlns="http://www.w3.org/2000/svg"><path d="M1 5.718L4.893 9.56l8.107-8" stroke="#BA4270" stroke-width="2" fill="none" fill-rule="evenodd"/></svg>
          <span>Income</span>
        </li>  
      </ul>  
     </div>

      <button class="button-secondary-dark">Request access</button>    
    </div>    
  </div>    
</section>    

</Layout>